{% extends 'default.html' %}

{% block content %}
<h1>Объявление.</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <input type="submit" value="Сохранить" />
    <!-- Кнопка активации -->
    <label class="btn" for="modal-1">Удалить</label>
    <!-- Модальное окно -->
    <div class="modal">
        <input class="modal-open" id="modal-1" type="checkbox" hidden>
        <div class="modal-wrap" aria-hidden="true" role="dialog">
            <label class="modal-overlay" for="modal-1"></label>
            <div class="modal-dialog">
                <div class="modal-header">
                    <h2>Удаление объявления</h2>
                    <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
                </div>
                <div class="modal-body">
                    <p>Вы уверенны, что хотите удалить объявление?</p>
                </div>
                <div class="modal-footer">
                    <label class="btn btn-primary" for="modal-1">
                        <a href="{{ news_delete }}" class="button">Удалить</a>
                    </label>
                    <label class="btn" for="modal-1">Отменить</label>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
